@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --green: #20c997;
  --dark: #fafafa;
}

a {
  text-decoration: none;
}

.profile-pic a img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border: 6px solid #303238;
}

.my-name h4 {
  font-weight: 500;
}

.nav-links ul li {
  list-style-type: none;
  padding: 9px 0px;
}

.nav-links ul li a {
  color: var(--dark);
  transition: 0.4s;
}
.nav-links ul li a:hover {
  color: var(--green);
}

.side_bar {
  height: 100vh;
  overflow: auto;
  background-color: #131212;
}

.social a i {
  color: var(--dark);
  font-size: 20px;
  transition: 0.4s;
}

.fb i:hover {
  color: #3b5998;
}

.ig i:hover {
  color: #f03f33;
}

.tw i:hover {
  color: #00acee;
}

.li i:hover {
  color: #0a66c2;
}

.gh i:hover {
  color: red;
}

/* Scrollbar Styling */
/* ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
} */

/* Home Section CSS */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#text {
  font-weight: 800;
  font-size: 50px;
}

.home-location p {
  font-size: 20px;
}

.btn-hire-me {
  background-color: transparent;
  border: 2px solid #20c997;
  color: var(--green);
  transition: 0.4s;
}

.btn-hire-me:hover {
  background-color: var(--green);
  color: var(--white);
}

/* About Me CSS */

.about-section {
  background-color: #212529;
}

.about-me-heading h1 {
  font-size: 140px;
  font-weight: 900;
  color: #282d31;
  position: relative;
}

.know-me-more h1 {
  font-size: 35px;
  font-weight: 900;
  color: var(--white);
  position: absolute;
  bottom: 37%;
  left: 40%;
}

.green-text {
  color: var(--green);
}

.about-me-para {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

@media screen and (max-width: 767.9px) {
  #text {
    font-size: 25px;
  }
}
