@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --green: #20c997;
  --dark: #fafafa;
}

a {
  text-decoration: none;
}

.profile-pic a img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border: 6px solid #303238;
}

.my-name h4 {
  font-weight: 500;
}

.nav-links ul li {
  list-style-type: none;
  padding: 9px 0px;
}

.nav-links ul li a {
  color: var(--dark);
  transition: 0.4s;
}
.nav-links ul li a:hover {
  color: var(--green);
}

.side_bar {
  min-height: 100vh !important;
  overflow-y: auto;
  background-color: #111418;
}

.social a i {
  color: var(--dark);
  font-size: 20px;
  transition: 0.4s;
}

.fb i:hover {
  color: #3b5998;
}

.ig i:hover {
  color: #f03f33;
}

.tw i:hover {
  color: #00acee;
}

.li i:hover {
  color: #0a66c2;
}

.gh i:hover {
  color: red;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}

/* Home Section CSS */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/images/hero-bg-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 41, 40, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#text {
  font-weight: 800;
  font-size: 70px;
  color: var(--white);
}

.home-location p {
  font-size: 20px;
  color: var(--white);
}

.btn-hire-me {
  background-color: transparent;
  border: 2px solid #20c997;
  color: var(--green);
  transition: 0.4s;
}

.btn-hire-me:hover {
  background-color: var(--green);
  color: var(--white);
}

/* About Me CSS */

.about-section {
  background-color: #212529;
}

.about-me-heading h1 {
  font-size: 140px;
  font-weight: 900;
  color: #282d31;
  position: relative;
}

.know-me-more h1 {
  font-size: 35px;
  font-weight: 900;
  color: var(--white);
  position: absolute;
  bottom: 37%;
  left: 40%;
}

.green-line {
  visibility: hidden;
  border-bottom: 2px solid #20c997;
}

.green-text {
  color: var(--green);
}

.green-text:hover {
  color: var(--green);
}

.about-me-para {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

.gray-text {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

.btn-download-cv {
  background-color: var(--green);
  transition: 0.5s;
}

.btn-download-cv:hover {
  background-color: #1baa80;
}

@media screen and (max-width: 767.9px) {
  .home-section {
    height: 70vh;
  }
  #text {
    font-size: 35px;
  }
  .about-me-heading h1 {
    font-size: 60px;
  }
  .know-me-more h1 {
    font-size: 30px;
    left: 18%;
  }
}
