@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --black: #000;
  --green: #20c997;
  --dark: #fafafa;
}

a {
  text-decoration: none;
}

.profile-pic a img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border: 6px solid #303238;
}

.my-name h4 {
  font-weight: 500;
}

.nav-links ul li {
  list-style-type: none;
  padding: 9px 0px;
}

.nav-links ul li a {
  color: var(--dark);
  transition: 0.4s;
}

.nav-links ul li a:hover {
  color: var(--green);
}

.side_bar {
  min-height: 100vh !important;
  overflow-y: auto;
  background-color: #111418;
}

.side-navbar {
  height: 100vh;
}

.scroll-div {
  height: 100vh;
  overflow: auto;
}
.social a i {
  color: var(--dark);
  font-size: 20px;
  transition: 0.4s;
}

.fb i:hover {
  color: #3b5998;
}

.ig i:hover {
  color: #f03f33;
}

.tw i:hover {
  color: #00acee;
}

.li i:hover {
  color: #0a66c2;
}

.gh i:hover {
  color: red;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #20c997;
}

/* Home Section CSS */

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(84deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/assets/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

#text {
  font-weight: 800;
  font-size: 70px;
  color: var(--white);
}

.home-location p {
  font-size: 20px;
  color: var(--white);
}

.btn-hire-me {
  background-color: transparent;
  border: 2px solid #20c997;
  color: var(--green);
  transition: 0.4s;
}

.btn-hire-me:hover {
  background-color: var(--green);
  color: var(--white);
}

/* About Me CSS */

.about-section {
  background-color: #212529;
}

.about-me-heading h1 {
  font-size: 140px;
  font-weight: 900;
  color: #282d31;
  position: relative;
}

.know-me-more h1 {
  font-size: 45px;
  font-weight: 900;
  color: var(--white);
  position: absolute;
  bottom: 40%;
  left: 34%;
}

.green-line {
  visibility: hidden;
  border-bottom: 2px solid #20c997;
}

.green-text {
  color: var(--green);
}

.green-text:hover {
  color: var(--green);
}

.about-me-para {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

.gray-text {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

.btn-download-cv {
  background-color: var(--green);
  transition: 0.5s;
}

.btn-download-cv:hover {
  background-color: #1baa80;
}

/* Services Section CSS */

.services-section {
  background-color: #343a40;
  max-height: max-content;
}

.services-heading h1 {
  font-size: 120px;
  font-weight: 900;
  color: #3e4449;
  position: relative;
}

.what-i-do h1 {
  font-size: 45px;
  font-weight: 900;
  color: var(--white);
  position: absolute;
  bottom: 37%;
  left: 39%;
}

/* Summary Section CSS */

.summary-section {
  background-color: #212529;
  max-height: max-content;
}

.summary-heading h1 {
  font-size: 120px;
  font-weight: 900;
  color: #3e4449;
  position: relative;
}

.resume h1 {
  font-size: 45px;
  font-weight: 900;
  color: var(--white);
  position: absolute;
  bottom: 37%;
  left: 42.3%;
}

.period-of-time {
  background-color: var(--green);
}

.period-of-time p {
  font-size: 15px;
}

.experience {
  background-color: #111418;
}

.skills-line {
  background-color: #000;
  height: 9px;
  position: relative;
}

.skills-green-line {
  position: absolute;
  height: 9px;
  background-color: var(--green);
  width: 65%;
}

.html-green-line {
  position: absolute;
  height: 9px;
  background-color: var(--green);
  width: 90%;
}

.bootstrap-skill-line {
  position: absolute;
  height: 9px;
  background-color: var(--green);
  width: 95%;
}

.js-skill-line {
  position: absolute;
  height: 9px;
  background-color: var(--green);
  width: 80%;
}

.react-skill-line {
  position: absolute;
  height: 9px;
  background-color: var(--green);
  width: 75%;
}

.angular-skill-line {
  position: absolute;
  height: 9px;
  background-color: var(--green);
  width: 60%;
}

.btn-cv {
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  transition: 0.4s;
}

.btn-cv:hover {
  background-color: #6c757d !important;
  border: 2px solid #6c757d;
  color: var(--white) !important;
}

/* portfolio-section CSS */

.portfolio-section {
  background-color: #343a40;
  max-height: max-content;
}

.portfolio-heading h1 {
  font-size: 150px;
  font-weight: 900;
  color: #3e4449;
  position: relative;
}

.my-work h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--white);
  position: absolute;
  bottom: 39%;
  left: 39.6%;
}

/* Nav Tabs */

.project-01 img {
  border-radius: 7px;
}

.project img {
  transition: 0.5s;
}

.project-01:hover .project img {
  transform: scale(1.05);
}

.my-projects {
  overflow: hidden;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
  color: var(--white);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link :active {
  color: var(--green);
  border-bottom: 2px solid #1baa80;
}

@media screen and (max-width: 767.9px) {
  .home-section {
    height: 70vh;
  }

  #text {
    font-size: 35px;
  }

  .about-me-heading h1 {
    font-size: 68px;
  }

  .know-me-more h1 {
    font-size: 20px;
    left: 25%;
  }

  .services-heading h1 {
    font-size: 75px;
  }

  .what-i-do h1 {
    font-size: 35px;
    left: 25%;
  }

  .services-content {
    font-size: 15px;
  }

  .summary-heading h1 {
    font-size: 65px;
  }

  .resume h1 {
    font-size: 35px;
    left: 30%;
  }
}
